PATH=/usr/bin
BUSTIME_API_KEY=
PG_DATABASE=
SCRAPER_PATH=$HOME/mta-bus-archive

*/2 * * * * make -e -C $SCRAPER_PATH positions
# */3 * * * * make -e -C $SCRAPER_PATH tripupdates
# */3 * * * * make -e -C $SCRAPER_PATH alerts
